* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* line-height: unset !important; */
}

/* Container */
#container {
    width: 100vmax;
    height: 100vh;
    background-color: #feca57;
}

/* active */
.active {
    display: flex !important;
}

/* Header */
header#header {
    width: 100vmax;
    height: 10vh;
}
header#header h1 {
    text-align: center;
    padding: 5px;
}

/* Navigation */
nav#nav {
    width: 100vmax;
    height: 8vh;
    background-color: #222f3e;
    padding-left: 25px;
}
nav#nav ul.navbar {
    list-style: none;
    overflow: hidden;
    display: inline !important;
}
nav#nav ul.navbar li.nav-item {
    float: left;
}
nav#nav ul.navbar li.nav-item button {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px;
    border: none;
    background-color: #222f3e;
}
nav#nav ul.navbar li.nav-item button:hover {
    background-color: #1dd1a1;
}

/* status */
ul#status {
    list-style: none;
    overflow: hidden;
    width: 100vmax;
    height: 10vh;
}


/* Section */
section#section {
    width: 100vmax;
    height: 69vh;
    background-color: #c8d6e5;
    padding: 25px;
}
section#section ul#setting {
    display: none;
}