* {
    margin: 0px;
    padding: 0px;
}

#container {
    max-width: 100vmax;
}
#container nav.nav {
    height: 5vw;
    background-color: #222f3e;
}
#container nav.nav ul.nav-bar {
    list-style: none;
    overflow: hidden;
}
#container nav.nav ul.nav-bar li.nav-item {
    display: inline;
    float: left;
}
#container nav.nav ul.nav-bar li.nav-item a{
    display: block;
    padding: 19px 19px;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}
#container nav.nav ul.nav-bar li.nav-item a:hover{
    background-color: #1dd1a1;
}

div#body {
    height: 90vmax;
    background-color: #ff9f43;
}
div#body ul.header {
    list-style: none;
    height: 15vw;
}
div#body ul.header li.title {
    text-align: center;
}
div#body ul.header li.title h1 {
    padding-top: 2%;
}
div#body ul.header li.status {
    margin-top: 2px;
}
/* div#body ul.status li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
} */
/* div#body ul.status li label {
    font-weight: 600;
    font-size: 18px;
} */
div#body div#content {
    height: 76vw;
    background-color: whitesmoke;
}
div#body div#content ul.setting {
    list-style: none;
    
}

footer#footer {
    height: 5vw;
    background-color: #c8d6e5;
}