#container {
  /* fixed */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* customize */
  width: 100vmax;
  height: 100vh;
  background-color: #feca57;
  overflow: hidden;
}
/* header */
header#header {
  width: 100vmax;
  height: 10vh;
  background-color: whitesmoke;
}
header#header h1 {
  /* custom bootstrap */
  /* customize */
  text-align: center;
  width: 100vmax;
  height: 10vh;
  position: relative;
  top: 15%;
}
/* navigation */
nav#nav {
  width: 100vmax;
  height: 6vh;
  background-color: #576574;
}
nav#nav ul.nav li.nav-item a.nav-link {
  color: whitesmoke;
  padding: 11px 40px;
}
nav#nav ul.nav li.nav-item a.nav-link:hover {
  background-color: #1dd1a1;
}
/* section */
/* status */
section#section {
  width: 100vmax;
  height: 75.3vh;
}
section#section div#status {
  width: 100vmax;
  height: 10vh;
  display: flex;
}
section#section div#status div.title {
  /* padding-top: 3px; */
  padding-left: 40px;
  width: 350px;
}
section#section div#status div.normal {
  width: 25%;
  height: fit-content;
  margin-left: 5%;
  /* padding-top: 5px; */
}
section#section div#status a {
  --bs-btn-padding-x: 1.75rem;
  --bs-btn-border-color: #dee2e6;
}
section#section div#status a:hover {
  background-color: #1dd1a1;
}
/* content */
section#section div#content {
  width: 100vmax;
  height: 65.3vh;
  background-color: #c8d6e5;
  /* overflow: scroll */
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* data table */
section#section div#content div.title {
  padding-top: 10px;
  padding-bottom: 10px;
}
section#section div#content div.title h3 {
  text-align: center;
}
section#section div#content table.table {
  width: 80%;
  position: relative;
  left: 10%;
  text-align: center;
  /* Bootstrap css custom */
  --bs-table-bg: #c8d6e5;
}
section#section div#content table.table thead {
  position: sticky;
  top: 0;
}
section#section div#content table.table tbody tr td a {
  border: none;
  text-decoration: none;
  text-align: center;
  color: black;
  display: inline-block;
  background-color: #ff9f43;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
/* footer */
footer#footer {
  width: 100vmax;
  height: 8.5vh;
  background-color: whitesmoke;
}
