<!-- Top nav -->
<nav
  class="navbar navbar-expand-lg bg-dark border-bottom border-body"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Admin Page</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/persons"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Person</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/detect"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Detect</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >About</a
          >
        </li>
      </ul>
      <span class="navbar-text">
        <a class="btn btn-outline-success" href="#" role="button" type="button"
          >Logout</a
        >
      </span>
    </div>
  </div>
</nav>
<!-- Content -->
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
  <!-- Copyright -->
  <div
    class="text-center p-3 text-light"
    style="background-color: rgb(33, 37, 41)"
  >
    © 2020 Copyright:
    <a
      class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
      href="https://github.com/FongFox"
    >
      FongFox
    </a>
  </div>
  <!-- Copyright -->
</footer>
